--model_name=resnet50_siamese
--dataset_name=wcs
--tag=(tag_serengeti_weights)
--model_type=siamese
--num_classes=1
--image_size=256
--seed=42
--num_epochs=50
--patience=15
--batch_size=1
--train_filename=/home/luiz/experiments/.whitelist/datasets/wcs/siamese/short/train.csv
--val_filename=/home/luiz/experiments/.whitelist/datasets/wcs/siamese/short/val.csv
--test_filename=.whitelist/grad-cam/siamese.csv
--data_dir_mask=/data/luiz/dataset/siam_nestedunet-output_wcs_(deepmec)/
--images_path=/data/luiz/dataset/wcs_images/
--images_path_ssd=
--checkpoint_path=../../models/classification/
--input_scale_mode=tf_mode